@model List<MessageRepresentation>

@using (Html.BeginForm("LoadNewMessages", "Chat"))
{
    <div class="centered-div">
        <input type="submit" value="Load older messages" title="Load older messages" onclick="saveScroll()" />
    </div>
}

@if (Model != null)
{
    foreach (var message in Model)
    {
        <div>
            <b>@message.OwnerName</b>

            <b>@message.Message.Created</b>

            @if (message.Message.IsEdited == true)
            {
                <b>(Edited)</b>
            }
            <p>
                @message.Message.Contents
            </p>
        </div>
    }
}

@using (Html.BeginForm("SendMessage", "Chat", FormMethod.Post))
{
    <div class="message-menu">
        <input type="text" placeholder="Enter your message" value="@ViewData["Message"]" name="messageString" />
        <input type="submit" value="Send" title="Send" onclick="saveScroll()" />
    </div>
}

<script>
    function saveScroll() {
        window.sessionStorage.setItem("sidebar-scroll", window.scrollY);
    }

    let scrollPosition = window.sessionStorage.getItem("sidebar-scroll");
    if (scrollPosition !== null) {
        autoScrollTo(scrollPosition);
    }

    function autoScrollTo(scrollPosition) {

        document.documentElement.style.scrollBehavior = 'auto';

        setTimeout(() => window.scrollTo(0, scrollPosition), 0.1);
        setTimeout(() => document.documentElement.style.scrollBehavior = 'smooth', 0.1);
    }
</script>
