@{
    ViewData["Title"] = "Create Chat";
}

@model Chat

@using (Html.BeginForm("CreateChat", "Chat", FormMethod.Post))
{
    <div class="universal-form">

        <div class="universal-form-fields">
            <div class="universal-field">
                <p>User's email *</p>
                @Html.TextBoxFor(model => model.ParticipantBId)
            </div>
        </div>

        <button type="submit">Submit</button>

        @if(TempData["Error"] != null)
        {
            <div class="universal-error-message">
                @TempData["Error"]
            </div>
        }
    </div>
}
