div .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.caption {
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-menu {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.centered-div {
    display: flex;
    justify-content: center;
}
