@model Register
@{
    ViewData["Title"] = "Register";
}

@using (Html.BeginForm("Register", "Authenticate", FormMethod.Post))
{
    <div class="login-form">

        <div class="login-form-fields">
            <div class="login-field">
                <p>Email</p>
                @Html.TextBoxFor(model => model.Email)
            </div>

            <div class="login-field">
                <p>Password</p>
                @Html.TextBoxFor(model => model.Password)
            </div>
        </div>

        <button type="submit">Submit</button>

        @if(TempData["Error"] != null)
        {
            <div class="login-error-message">
                @TempData["Error"]
            </div>
        }
    </div>
}