@{
    ViewData["Title"] = "Chats";
}

@model List<ChatRepresentation>

@if (Model != null)
{
    @foreach (var chat in Model)
    {
        <div class="item" title="@chat.Name">
            <img src="~/css/icons/default-chat-icon.png"
            id=@chat.Chat.Id runat="server"
            style="width: 100px; height: 100px;" onclick="setChatId('@chat.Chat.Id')" />
            <span class="caption">@chat.Name</span>
        </div>
    }

    <div class="item" title="New Chat" id="add-new-chat" data-request-url="@Url.Action("SetChatId","Chat")">
        <img src="~/css/icons/add-chat-icon.png" runat="server"
         style="width: 100px; height: 100px;" onclick="redirectToChatCreate()" />
        <span class="caption">Add Chat</span>
    </div>
}

<script src="~/js/index-chat.js"></script>
