@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can communicate through chats and groups to your heart's content!</p>
    <p>We hope you enjoy your stay :)</p>
</div>
